@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'rosario';
}

a {
    text-decoration: none;
}

body {
    background-color: black;
    overflow-x: hidden;
}
